
<!-- 
ativar o oauth do github 
https://github.com/settings/developers -->

GITHUB_CLIENT_SECRET=
GITHUB_CLIENT_ID=

<!-- encontrar um site md5 para gerar um hash -->
JWT_SECRET=


<!-- renomear o arquivo para .env -->


